<ng-container *ngIf="state$ | async as state">
  <form [formGroup]="form" style="display: flex; flex-direction: column; row-gap: 8px">
    <div class="calc-grid">
      <div class="grid-row">
        <div>レベル</div>
        <div>
          <input formControlName="level" type="number" min="1" max="100" required />
        </div>
      </div>
      <div class="grid-row">
        <div>性格</div>
        <div class="grid-cell">
          <nature-select formControlName="nature"></nature-select>
        </div>
      </div>
      <div class="grid-row stat-name-row">
        <div></div>
        <div class="grid-cell stat-name">H</div>
        <div
          class="grid-cell stat-name"
          [class.stat-nature-up]="state.nature.up === 'A'"
          [class.stat-nature-down]="state.nature.down === 'A'"
        >
          A
        </div>
        <div
          class="grid-cell stat-name"
          [class.stat-nature-up]="state.nature.up === 'B'"
          [class.stat-nature-down]="state.nature.down === 'B'"
        >
          B
        </div>
        <div
          class="grid-cell stat-name"
          [class.stat-nature-up]="state.nature.up === 'C'"
          [class.stat-nature-down]="state.nature.down === 'C'"
        >
          C
        </div>
        <div
          class="grid-cell stat-name"
          [class.stat-nature-up]="state.nature.up === 'D'"
          [class.stat-nature-down]="state.nature.down === 'D'"
        >
          D
        </div>
        <div
          class="grid-cell stat-name"
          [class.stat-nature-up]="state.nature.up === 'S'"
          [class.stat-nature-down]="state.nature.down === 'S'"
        >
          S
        </div>
      </div>
      <div class="grid-row" formGroupName="stats">
        <div>能力値</div>
        <div class="grid-cell"><input formControlName="hp" type="number" required /></div>
        <div class="grid-cell"><input formControlName="atk" type="number" required /></div>
        <div class="grid-cell"><input formControlName="def" type="number" required /></div>
        <div class="grid-cell"><input formControlName="spa" type="number" required /></div>
        <div class="grid-cell"><input formControlName="spd" type="number" required /></div>
        <div class="grid-cell"><input formControlName="spe" type="number" required /></div>
      </div>
      <div class="grid-row" formGroupName="ivs">
        <div>個体値</div>
        <div class="grid-cell"><input formControlName="hp" type="number" min="0" max="31" required /></div>
        <div class="grid-cell"><input formControlName="atk" type="number" min="0" max="31" required /></div>
        <div class="grid-cell"><input formControlName="def" type="number" min="0" max="31" required /></div>
        <div class="grid-cell"><input formControlName="spa" type="number" min="0" max="31" required /></div>
        <div class="grid-cell"><input formControlName="spd" type="number" min="0" max="31" required /></div>
        <div class="grid-cell"><input formControlName="spe" type="number" min="0" max="31" required /></div>
      </div>
      <div class="grid-row" formGroupName="evs">
        <div>努力値</div>
        <div class="grid-cell"><input formControlName="hp" type="number" min="0" max="252" step="4" required /></div>
        <div class="grid-cell"><input formControlName="atk" type="number" min="0" max="252" step="4" required /></div>
        <div class="grid-cell"><input formControlName="def" type="number" min="0" max="252" step="4" required /></div>
        <div class="grid-cell"><input formControlName="spa" type="number" min="0" max="252" step="4" required /></div>
        <div class="grid-cell"><input formControlName="spd" type="number" min="0" max="252" step="4" required /></div>
        <div class="grid-cell"><input formControlName="spe" type="number" min="0" max="252" step="4" required /></div>
      </div>
    </div>
  </form>

  <textarea class="stats-text" [value]="state.statsText" readonly></textarea>
</ng-container>
