@if (state$ | async; as state) {
  @if (state.pokemon) {
    <form [formGroup]="form" class="text-sm flex flex-col sm:flex-row sm:flex-wrap gap-x-1 gap-y-2 pt-2">
      <div class="w-full sm:w-1/2 grid grid-cols-[auto_1fr] items-end justify-start gap-x-2">
        <pokemon-sprite [pokemon]="state.pokemon" class="h-10" [size]="40" />
        <pokemon-select formControlName="pokemon" />
      </div>
      <div formGroupName="stats" class="w-full sm:w-1/2 text-sm grid grid-cols-4 gap-x-1">
        <stat-input
          formControlName="stat"
          label="すばやさ"
          showLabel
          [isMin]="state.stats.ev === 0"
          [isMax]="state.stats.ev === 252"
        />
        <ev-input formControlName="ev" showLabel [usedEVs]="state.stats.ev" />
        <iv-input formControlName="iv" showLabel disableNull />
        <app-form-field class="min-w-[5em] w-full" label="性格補正" showLabel>
          <select app-form-control formControlName="nature">
            <option [ngValue]="'up'">↑</option>
            <option [ngValue]="'neutral'">-</option>
            <option [ngValue]="'down'">↓</option>
          </select>
        </app-form-field>
      </div>
      <speed-presets class="w-full sm:w-1/2" />
    </form>
  }
}
