:host {
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: 16px;
  min-height: 100vh;
  max-height: 100vh;
  height: 100%;
  width: 100%;
}

header {
  background: linear-gradient(45deg, #552277, #9f2a22);
  color: #eee;
}
