:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 12px;
  width: auto;
  max-width: 100%;
  padding: 16px;
  font-size: 0.85rem;
}

.heading {
  h1 {
    margin: 0;
    font-size: 1.5em;
  }
  p {
    margin: 0;
    font-size: 0.75rem;
    color: #666;
  }
}

.calc-table {
  border-spacing: 8px 4px;

  tbody tr td:first-child:not([colspan]) {
    text-align: center;
  }
}

.base-specs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 0.5em;
  color: #999;
}

.stat-name {
  font-weight: bold;
  padding: 4px 12px;
}

.value-label {
  text-align: left;
  word-break: keep-all;
}

.stat-nature-up {
  .stat-name {
    background-color: #ffc7c7;
  }
}

.stat-nature-down {
  .stat-name {
    background-color: #c7d7ff;
  }
}

.pokemon-base-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 8px;

  .info-link {
    display: flex;
  }
}

.stats-text {
  font-size: 14px;
  width: 100%;
}
