:host {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  width: fit-content;
  padding: 24px;
  background-color: #fefefe;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 0.85rem;

  @media screen and (max-width: 600px) {
    width: 100%;
  }
}

.calc-table {
  border-spacing: 8px 4px;

  tbody tr td:first-child:not([colspan]) {
    text-align: center;
  }
}

.base-spec {
  color: #999;
}

.stat-name {
  font-weight: bold;
  padding: 4px 12px;
}

.value-label {
  text-align: left;
  word-break: keep-all;
}

.stat-nature-up {
  .stat-name {
    background-color: #ffc7c7;
  }
}

.stat-nature-down {
  .stat-name {
    background-color: #c7d7ff;
  }
}

.pokemon-base-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 8px;

  .info-link {
    display: flex;
  }
}

.stats-text {
  font-size: 14px;
  width: 100%;
}
