@use '@angular/material' as mat;

$app-primary: mat.define-palette(mat.$deep-purple-palette);
$app-accent: mat.define-palette(mat.$deep-orange-palette, A200, A100, A400);
$app-warn: mat.define-palette(mat.$red-palette);
$app-theme: mat.define-light-theme(
  (
    color: (
      primary: $app-primary,
      accent: $app-accent,
      warn: $app-warn,
    ),
  )
);

@include mat.core();
@tailwind base;
@include mat.core-theme($app-theme);
@include mat.autocomplete-theme($app-theme);
@include mat.chips-theme($app-theme);
@include mat.icon-theme($app-theme);
@include mat.input-theme($app-theme);
@include mat.form-field-theme($app-theme);
@include mat.menu-theme($app-theme);
@include mat.select-theme($app-theme);
@include mat.snack-bar-theme($app-theme);
@include mat.tooltip-theme($app-theme);
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */

@layer base {
  body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    background-color: #fefefe;
  }

  *,
  ::before,
  ::after {
    border-style: unset;
  }

  a {
    color: mat.get-color-from-palette($app-primary, 500);
  }

  button {
    border-style: solid;
    line-height: 1.15;
    @apply rounded bg-gray-200 bg-opacity-50 border border-gray-500;

    &:disabled {
      @apply border-gray-100 text-gray-400;
    }
  }

  table {
    border-collapse: separate;
  }
}

@layer components {
  .form-input,
  .form-checkbox,
  .form-textarea,
  .form-select {
    font-size: inherit;
    line-height: inherit;
    border-style: solid;
    border-radius: 4px;
    border-color: mat.get-color-from-palette(mat.$grey-palette, 500);

    &:focus {
      border-color: mat.get-color-from-palette($app-primary, 500);
    }

    &:disabled {
      @apply bg-gray-200 bg-opacity-50 text-gray-400;
    }
  }

  .form-input {
    @apply px-2 py-0;
  }
  .form-input[type='number'] {
    @apply pl-2 pr-0 py-0;
  }
  .form-textarea {
    @apply px-2 py-1;
  }
  .form-select {
    @apply pl-2 pr-12 py-0;
  }

  .mdc-tooltip {
    font-size: 0.85rem;
  }
  .mat-mdc-chip {
    border-style: unset;
  }
  .mat-mdc-form-field {
    .mat-mdc-form-field-flex {
      .mat-mdc-form-field-infix {
        min-height: unset;
        padding-top: 0.75em;
        padding-bottom: 0.75em;
      }
    }
  }
  .mat-mdc-select {
    .mat-mdc-select-arrow-wrapper {
      height: unset;
    }
  }

  .ad {
    display: flex;
    justify-content: center;
    width: 100%;

    ins {
      width: 100%;
      max-width: 728px;
    }
  }
}
