@use '@angular/material' as mat;

$app-primary: mat.define-palette(mat.$deep-purple-palette);
$app-accent: mat.define-palette(mat.$deep-orange-palette, A200, A100, A400);
$app-warn: mat.define-palette(mat.$red-palette);
$app-theme: mat.define-light-theme(
  (
    color: (
      primary: $app-primary,
      accent: $app-accent,
      warn: $app-warn,
    ),
  )
);

@include mat.core();
@include mat.core-theme($app-theme);
@include mat.autocomplete-theme($app-theme);
@include mat.button-theme($app-theme);
@include mat.chips-theme($app-theme);
@include mat.icon-theme($app-theme);
@include mat.icon-button-theme($app-theme);
@include mat.input-theme($app-theme);
@include mat.form-field-theme($app-theme);
@include mat.menu-theme($app-theme);
@include mat.ripple-theme($app-theme);
@include mat.select-theme($app-theme);
@include mat.snack-bar-theme($app-theme);
@include mat.tooltip-theme($app-theme);
@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */

@layer base {
  body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    background-color: #fefefe;
  }

  *,
  ::before,
  ::after {
    border-style: unset;
  }

  a {
    color: mat.get-color-from-palette($app-primary, 500);
  }

  button {
    border-style: solid;
    line-height: 1.15;
    @apply rounded bg-gray-200 bg-opacity-50 border border-gray-500;

    &:disabled {
      @apply border-gray-100 text-gray-400;
    }
  }

  input {
    border-style: solid;
  }

  table {
    border-collapse: separate;
  }
}

@layer components {
  .mdc-tooltip {
    font-size: 0.85rem;
  }
  .mat-mdc-chip {
    border-style: unset;
  }
  .mat-mdc-form-field {
    .mat-mdc-form-field-flex {
      .mat-mdc-form-field-infix {
        width: auto;
        min-height: unset;
        padding-top: 0.75em;
        padding-bottom: 0.75em;
      }
    }
    .mdc-text-field--outlined {
      padding-left: 0.75em;
      padding-right: 0.75em;

      .mdc-notched-outline {
        .mdc-notched-outline__leading {
          width: 0.75em;
        }
        .mdc-notched-outline__notch {
          border-top: 1px solid rgba(0, 0, 0, 0.38);
        }
      }
      .mat-mdc-floating-label.mdc-floating-label {
        left: 0;
        line-height: 1;
        background-color: #fff;
      }
    }
  }
  .mat-mdc-select {
    .mat-mdc-select-arrow-wrapper {
      height: unset;
    }
  }
  .mat-mdc-outlined-button.mat-mdc-button-base {
    height: fit-content;

    .mat-mdc-button-touch-target {
      height: 100%;
    }
  }

  .ad {
    display: flex;
    justify-content: center;
    width: 100%;

    ins {
      width: 100%;
      max-width: 728px;
    }
  }
}
