:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 8px;
  font-size: 0.85rem;
}

.calc-table {
  tbody tr:first-child td {
    height: 40px;
  }

  tbody tr td:first-child:not([colspan]) {
    text-align: center;
  }
}

.stat-name {
  font-weight: bold;
  padding: 4px;

  @media screen and (min-width: 600px) {
    padding: 4px 16px;
  }
}

.value-label {
  text-align: left;
  word-break: keep-all;
}

.stat-nature-up {
  .stat-name {
    background-color: #ffc7c7;
  }
}

.stat-nature-down {
  .stat-name {
    background-color: #c7d7ff;
  }
}

.pokemon-base-info {
  display: flex;
  height: 40px;
  flex-direction: row;
  align-items: flex-end;
  column-gap: 8px;
}
