<ng-container *ngIf="state$ | async as state">
  <ng-container *ngIf="state.pokemon">
    <form [formGroup]="form" class="grid grid-cols-1 gap-y-1 sm:justify-items-start w-full">
      <div class="grid grid-flow-col gap-x-1 justify-start items-center">
        <pokemon-sprite [pokemon]="state.pokemon" class="h-10"/>
        <pokemon-base-info [pokemon]="state.pokemon"/>
      </div>
      <div class="grid grid-flow-col gap-x-1 justify-start w-full pt-2">
        <pokemon-select formControlName="pokemon"/>
        <level-input formControlName="level"/>
        <nature-select formControlName="nature"/>
      </div>
      <table class="w-auto border-collapse">
        <thead>
          <tr class="font-bold text-center">
            <th></th>
            <th *ngFor="let key of statKeys">{{ key }}</th>
          </tr>
        </thead>
        <tbody>
          <tr formGroupName="stats">
            <td></td>
            <td *ngFor="let key of statKeys">
              <stat-input
                class="stat-nature-{{ state.nature.values[key] ?? 'neutral' }}"
                [formControlName]="key"
              />
            </td>
          </tr>
          <tr formGroupName="ivs">
            <td class="text-center break-keep">個体値</td>
            <td *ngFor="let key of statKeys">
              <iv-input [formControlName]="key"/>
            </td>
          </tr>
          <tr formGroupName="evs">
            <td class="text-center break-keep">努力値</td>
            <td *ngFor="let key of statKeys">
              <ev-input [formControlName]="key" [usedEVs]="state.usedEVs"/>
            </td>
          </tr>
          <tr>
            <td></td>
            <td *ngFor="let key of statKeys">
              <stat-commands [key]="key"/> 
            </td>
          </tr>
        </tbody>
      </table>
    </form>
    <div class="w-full">
      <stats-utils class="w-full"/>
      <stats-indicator class="w-full" [stats]="state.stats"/>
    </div>
  </ng-container>
</ng-container>
